<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <title>Book Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
    </style>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">BookStore</a>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                    <p class="text-success">Аккаунт успешно подтвержден!</p>
                    <p>
                        Теперь вы можете войти на сайт под своей учетной записью.
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-success" role="button">Войти</a>
            </div>
        </div>
    </div>
</body>

</html>