<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <title>Book Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        input {
            max-width: 420px;
        }
    </style>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">BookStore</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Регистрация</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-danger py-2" id="information-fail">
        <p>{{ form.new_password1.errors }}</p>
        <p>{{ form.new_password2.errors }}</p>
        </div>

        <div class="row">
            <div class="col-12">
                {% if validlink %}
                <h2>Задайте новый пароль:</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="input_password1">Новый пароль:</label>
                        <input type="password" name="new_password1" class="form-control" id="input_password1" placeholder="Введите пароль">
                    </div>
                    <div class="form-group">
                            <label for="input_password2">Новый пароль еще раз:</label>
                            <input type="password" name="new_password2" class="form-control" id="input_password2" placeholder="Еще раз пароль">
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
                </form>
                {% else %}
                <p class="text-danger">Неверная ссылка на сброс пароля, возможно, этой ссылкой уже кто-то воспользовался.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>